
# Created by https://www.gitignore.io/api/venv,linux,emacs,python,notepadpp,visualstudiocode,jupyternotebooks
# Edit at https://www.gitignore.io/?templates=venv,linux,emacs,python,notepadpp,visualstudiocode,jupyternotebooks

### Emacs ###
# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# We do have a server directory...
# server auth directory
# /server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el

# network security
/network-security.data


### JupyterNotebooks ###
# gitignore template for Jupyter Notebooks
# website: http://jupyter.org/

.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Remove previous ipynb_checkpoints
#   git rm -r .ipynb_checkpoints/
#

### Linux ###

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

### NotepadPP ###
# Notepad++ backups #
*.bak

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

### venv ###
# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
pip-selfcheck.json

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

# End of https://www.gitignore.io/api/venv,linux,emacs,python,notepadpp,visualstudiocode,jupyternotebooks

*.pyc
*.so
*.pyd
*~
.#*
*.lprof
*.swp
*.swo
.DS_Store
build
sklearn/datasets/__config__.py
sklearn/**/*.html

dist/
MANIFEST
doc/_build/
doc/auto_examples/
doc/modules/generated/
doc/datasets/generated/
*.pdf
pip-log.txt
scikit_learn.egg-info/
.coverage
coverage
*.py,cover
.tags*
tags
covtype.data.gz
20news-18828/
20news-18828.tar.gz
coverages.zip
samples.zip
doc/coverages.zip
doc/samples.zip
coverages
samples
doc/coverages
doc/samples
*.prof
.tox/
.coverage

lfw_preprocessed/
nips2010_pdf/

*.nt.bz2
*.tar.gz
*.tgz

examples/cluster/joblib
reuters/
benchmarks/bench_covertype_data/

*.prefs
.pydevproject
.idea
.vscode

*.c
*.cpp

!/**/src/**/*.c
!/**/src/**/*.cpp
*.sln
*.pyproj

# Used by py.test
.cache
.pytest_cache/
_configtest.o.d

# Used by mypy
.mypy_cache/

# files generated from a template
sklearn/utils/_seq_dataset.pyx
sklearn/utils/_seq_dataset.pxd
sklearn/linear_model/_sag_fast.pyx

# deprecated paths
# TODO: Remove in 0.24
# All of these files should have a match in _build_utils/deprecated_modules.py
sklearn/utils/mocking.py

sklearn/ensemble/bagging.py
sklearn/ensemble/base.py
sklearn/ensemble/forest.py
sklearn/ensemble/gradient_boosting.py
sklearn/ensemble/iforest.py
sklearn/ensemble/stacking.py
sklearn/ensemble/voting.py
sklearn/ensemble/weight_boosting.py
sklearn/tree/export.py
sklearn/tree/tree.py

sklearn/neural_network/rbm.py
sklearn/neural_network/multilayer_perceptron.py

sklearn/utils/weight_vector.py
sklearn/utils/seq_dataset.py
sklearn/utils/fast_dict.py
sklearn/utils/testing.py

sklearn/cluster/affinity_propagation_.py
sklearn/cluster/bicluster.py
sklearn/cluster/birch.py
sklearn/cluster/dbscan_.py
sklearn/cluster/hierarchical.py
sklearn/cluster/k_means_.py
sklearn/cluster/mean_shift_.py
sklearn/cluster/optics_.py
sklearn/cluster/spectral.py

sklearn/mixture/base.py
sklearn/mixture/gaussian_mixture.py
sklearn/mixture/bayesian_mixture.py

sklearn/covariance/elliptic_envelope.py
sklearn/covariance/empirical_covariance_.py
sklearn/covariance/graph_lasso_.py
sklearn/covariance/robust_covariance.py
sklearn/covariance/shrunk_covariance_.py

sklearn/cross_decomposition/cca_.py
sklearn/cross_decomposition/pls_.py

sklearn/svm/base.py
sklearn/svm/classes.py
sklearn/svm/bounds.py
sklearn/svm/libsvm.py
sklearn/svm/libsvm_sparse.py
sklearn/svm/liblinear.py

sklearn/decomposition/base.py
sklearn/decomposition/dict_learning.py
sklearn/decomposition/cdnmf_fast.py
sklearn/decomposition/factor_analysis.py
sklearn/decomposition/fastica_.py
sklearn/decomposition/incremental_pca.py
sklearn/decomposition/kernel_pca.py
sklearn/decomposition/nmf.py
sklearn/decomposition/online_lda.py
sklearn/decomposition/online_lda_fast.py
sklearn/decomposition/pca.py
sklearn/decomposition/sparse_pca.py
sklearn/decomposition/truncated_svd.py

sklearn/gaussian_process/gpr.py
sklearn/gaussian_process/gpc.py

sklearn/datasets/base.py
sklearn/datasets/california_housing.py
sklearn/datasets/covtype.py
sklearn/datasets/kddcup99.py
sklearn/datasets/lfw.py
sklearn/datasets/olivetti_faces.py
sklearn/datasets/openml.py
sklearn/datasets/rcv1.py
sklearn/datasets/samples_generator.py
sklearn/datasets/species_distributions.py
sklearn/datasets/svmlight_format.py
sklearn/datasets/twenty_newsgroups.py

sklearn/feature_extraction/dict_vectorizer.py
sklearn/feature_extraction/hashing.py
sklearn/feature_extraction/stop_words.py

sklearn/linear_model/base.py
sklearn/linear_model/bayes.py
sklearn/linear_model/cd_fast.py
sklearn/linear_model/coordinate_descent.py
sklearn/linear_model/huber.py
sklearn/linear_model/least_angle.py
sklearn/linear_model/logistic.py
sklearn/linear_model/omp.py
sklearn/linear_model/passive_aggressive.py
sklearn/linear_model/perceptron.py
sklearn/linear_model/ransac.py
sklearn/linear_model/ridge.py
sklearn/linear_model/sag.py
sklearn/linear_model/sag_fast.py
sklearn/linear_model/sgd_fast.py
sklearn/linear_model/stochastic_gradient.py
sklearn/linear_model/theil_sen.py

sklearn/metrics/cluster/bicluster.py
sklearn/metrics/cluster/supervised.py
sklearn/metrics/cluster/unsupervised.py
sklearn/metrics/cluster/expected_mutual_info_fast.py

sklearn/metrics/base.py
sklearn/metrics/classification.py
sklearn/metrics/regression.py
sklearn/metrics/ranking.py
sklearn/metrics/pairwise_fast.py
sklearn/metrics/scorer.py

sklearn/inspection/partial_dependence.py
sklearn/inspection/permutation_importance.py

sklearn/neighbors/ball_tree.py
sklearn/neighbors/base.py
sklearn/neighbors/classification.py
sklearn/neighbors/dist_metrics.py
sklearn/neighbors/graph.py
sklearn/neighbors/kd_tree.py
sklearn/neighbors/kde.py
sklearn/neighbors/lof.py
sklearn/neighbors/nca.py
sklearn/neighbors/nearest_centroid.py
sklearn/neighbors/quad_tree.py
sklearn/neighbors/regression.py
sklearn/neighbors/typedefs.py
sklearn/neighbors/unsupervised.py

sklearn/manifold/isomap.py
sklearn/manifold/locally_linear.py
sklearn/manifold/mds.py
sklearn/manifold/spectral_embedding_.py
sklearn/manifold/t_sne.py

sklearn/semi_supervised/label_propagation.py

sklearn/preprocessing/data.py
sklearn/preprocessing/label.py

sklearn/feature_selection/base.py
sklearn/feature_selection/from_model.py
sklearn/feature_selection/mutual_info.py
sklearn/feature_selection/rfe.py
sklearn/feature_selection/univariate_selection.py
sklearn/feature_selection/variance_threshold.py
